main {
    padding: 2em;
    max-width: 1000px;
    margin: 50 auto 0;
    text-align: center;
}



.profil-card {
    background-color: #fff;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 3em;
}

.profil-photo {
    margin-bottom: 1.5em;
}

.profil-card h1 {
    color: #6a0dad;
    margin-bottom: 0.5em;
    font-size: 2.2em;
}

.profil-card h2 {
    color: #8a2be2;
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

.profil-card p {
    line-height: 1.6;
    color: #555;
}

.presentation-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    max-width: 1000px;
    margin: 2em auto;
    text-align: left;
}

.general-info-card,
.diplomas-card,
.strengths-card {
    background-color: #fff;
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.general-info-card h2,
.diplomas-card h2,
.strengths-card h2 {
    text-align: center;
    color: #6a0dad;
    /* Couleur principale */
    margin-bottom: 1em;
    font-size: 1.8em;
}

.general-info-card h3 {
    margin-top: 1.5em;
    font-size: 1.2em;
    color: #8a2be2;
    /* Couleur secondaire */
    border-bottom: 1px solid #eee;
    padding-bottom: 0.3em;
}

.info-list ul,
.diploma-list {
    list-style: none;
    padding: 0;
}

.info-list li {
    margin-bottom: 0.5em;
    line-height: 1.6;
}

.diploma-list li {
    margin-bottom: 1.5em;
    padding-left: 10px;
    border-left: 3px solid #f990a4;
    /* Ligne de séparation pour les diplômes */
}

.diploma-title {
    margin: 0;
    color: #333;
    font-size: 1.1em;
}

.diploma-institution,
.diploma-period {
    margin: 0.2em 0;
    color: #555;
    font-size: 0.9em;
}

.full-width {
    grid-column: 1 / -1;
}

.atouts-tags {
    text-align: center;
    /* Les styles de .tag sont hérités de base.css */
}

.competences-summary {
    margin-top: 3em;
}

.competences-summary h2 {
    color: #333;
    margin-bottom: 1.5em;
    font-size: 2em;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    text-align: left;
}

.skill-area {
    background-color: #f8f8ff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5em;
}

.skill-area h3 {
    color: #6a0dad;
    margin-top: 0;
    margin-bottom: 0.8em;
    font-size: 1.3em;
}

.skill-area p {
    color: #666;
}

@media (max-width: 768px) {
    header {
        margin-bottom: 35px;
    }

    main {
        padding: 1em;
    }

    .profile-card {
        padding: 1.5em;
    }

    .profile-card h1 {
        font-size: 1.8em;
    }

    .profile-card h2 {
        font-size: 1.2em;
    }

    .presentation-details-grid {
        grid-template-columns: 1fr;
        /* Une seule colonne sur mobile */
    }

    .skills-grid {
        grid-template-columns: 1fr;
        /* Une seule colonne sur mobile */
    }
}